<%= javascript_pack_tag 'newwinelog' %>
<%= javascript_pack_tag 'newwinelog2' %>

<div id="winelog">
  <%= form_with(model: @winelog, local: true)do |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %>

    <%# <div class="img-upload"> %>
      <%# 画像 %>
      <%# <p>ファイルをアップロード</p> %>
      <%# <%= f.file_field :image, id:"item-image" %>
    <%# </div> %>
    <%# <div id="image-list"></div> %>

    <div class="field">
      <%= f.label :tasted_date %><br />
      <%= f.date_field :tasted_date, value: Date.today, class: "input-field" %>
    </div>

    <div class="field">
      <%= label_tag :original_template %><br />
      <%= f.collection_select(:original_template, @original_templates, :id, :template_name, {}, { "v-model": "original_template_value", class: "input-field" }) %>
    </div>

    <div class="field">
      <%= f.label :wine_name %><br />
      <%= f.text_field :wine_name, class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :producer %><br />
      <%= f.text_field :producer, ":value": "original_template.producer_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :vintage %><br />
      <%= f.number_field(:vintage, in: 1800..2100, step: 1, ":value": "original_template.vintage_value", class: "input-field") %>
    </div>

    <div class="field">
      <%= f.label :type_id %><br />
      <%= f.collection_select(:type_id, DefaultType.all, :id, :name, {}, {":value": "original_template.type_id_value", class: "input-field"}) %>
    </div>

    <div class="field">
      <%= f.label :country_id %><br />
      <%= f.collection_select(:country_id, DefaultCountry.order('sort_order ASC'), :id, :name, {}, {":value": "original_template.country_id_value", class: "input-field"}) %>
    </div>

    <div class="field">
      <%= f.label :region1_id %><br />
      <%= f.grouped_collection_select(:region1_id, DefaultCountry.order('sort_order ASC'), :default_region1s, :name, :id, :name, {}, {":value": "original_template.region1_id_value", class: "input-field"}) %>
    </div>

    <div class="field">
      <%= f.label :region2 %><br />
      <%= f.text_field :region2, ":value": "original_template.region2_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :region3 %><br />
      <%= f.text_field :region3, ":value": "original_template.region3_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :class_id %><br />
      <%= f.grouped_collection_select(:class_id, @region1s_with_classes, :default_classes, :name, :id, :name, {}, {":value": "original_template.class_id_value", class: "input-field"}) %>
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.number_field(:price, in: 0..10_000_000, step: 1, value: 0, class: "input-field") %>
    </div>

    <div class="field">
      <%= f.label :rating_id %><br />
      <%= f.collection_select(:rating_id, DefaultRating.all, :id, :name, {}, { class: "input-field" }) %>
    </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment, rows:"7", ":value": "original_template.comment_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :grape1, class:"inline-label" %>
      <%= f.text_field :grape1, ":value": "original_template.grape1_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :grape2, class:"inline-label" %>
      <%= f.text_field :grape2, ":value": "original_template.grape2_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :grape3, class:"inline-label" %>
      <%= f.text_field :grape3, ":value": "original_template.grape3_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :grape4, class: "inline-label" %>
      <%= f.text_field :grape4, ":value": "original_template.grape4_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :grape5, class: "inline-label" %>
      <%= f.text_field :grape5, ":value": "original_template.grape5_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :alcohol, class: "inline-label" %>
      <%= f.number_field(:alcohol, in: 0.0..20.0, step: 0.1, ":value": "original_template.alcohol_value", class: "input-field") %>
    </div>

    <div class="field">
      <%= f.label :shop, class: "inline-label" %>
      <%= f.text_field :shop, ":value": "original_template.shop_value", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :importer, class: "inline-label" %>
      <%= f.text_field :importer, ":value": "original_template.importer_value", class: "input-field" %>
    </div>

    <div class="actions winelog-submit">
      <%= f.submit "Save", class: "submit-btn" %>
    </div>

  <% end %>
</div>
